<section class="features">
    <div class="container">
        <div class="title">
            <h1>What do you Get with Our Tool?</h1>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on importans.</p>
        </div>

        <div class="tool-features">
            <div id="feature-1" class="feature">
                <div class="icon">
                    <img src="/images/icons/icon_analytics.svg" />
                </div>
                <h5>Comments on tasks</h5>
                <p>andiowio ijfijfiwofj wfjiowejf iowjef</p>
            </div>

            <div id="feature-2" class="feature">
                <div class="icon">
                    <img src="/images/icons/icon_assignments.svg" />
                </div>
                <h5>Comments on tasks</h5>
                <p>andiowio ijfijfiwofj wfjiowejf iowjef</p>
            </div>

            <div id="feature-3" class="feature">
                <div class="icon">
                    <img src="/images/icons/icon_comments.svg" />
                </div>
                <h5>Comments on tasks</h5>
                <p>andiowio ijfijfiwofj wfjiowejf iowjef</p>
            </div>

            <div id="feature-4" class="feature">
                <div class="icon">
                    <img src="/images/icons/icon_notifications.svg" />
                </div>
                <h5>Comments on tasks</h5>
                <p>andiowio ijfijfiwofj wfjiowejf iowjef</p>
            </div>

            <div id="feature-5" class="feature">
                <div class="icon">
                    <img src="/images/icons/icon_security.svg" />
                </div>
                <h5>Comments on tasks</h5>
                <p>andiowio ijfijfiwofj wfjiowejf iowjef</p>
            </div>

            <div id="feature-6" class="feature">
                <div class="icon">
                    <img src="/images/icons/icon_subtasks.svg" />
                </div>
                <h5>Comments on tasks</h5>
                <p>andiowio ijfijfiwofj wfjiowejf iowjef</p>
            </div>

        </div>

    </div>
</section>
@code {

}
