<section class="work-tools">
    <div class="container">
        <div class="heading">
            <h2>Integrate Top Work Tools</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>

        <div class="tools">

            <div class="tool">
                <img src="images/sections/Google.svg" alt="Google Icon">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="tool">
                <img src="images/sections/Zoom.svg" alt="Zoom Icon">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="tool">
                <img src="images/sections/Slack.svg" alt="Slack Icon">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="tool">
                <img src="images/sections/gmail.svg" alt="Gmail Icon">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="tool">
                <img src="images/sections/Trello.svg" alt="Trello Icon">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="tool">
                <img src="images/sections/MailChimp.svg" alt="MailChimp Icon">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="tool">
                <img src="images/sections/Dropbox.svg" alt="Dropbox Icon">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="tool">
                <img src="images/sections/Evernote.svg" alt="Evernote Icon">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>

    </div>
</section>

@code {

}
