@page "/adminportal/users"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@attribute [StreamRendering]

<div class="col-mb3">
    <AdminPortal />
</div>

<div class="container">
    <div class="users">
        <h1>Users</h1>
        <div class="user-list">
            @if (users != null && users.Any())
            {
                @foreach (var user in users)
                {
                    <EditForm FormName="userform" Model="user">
                        <div class="user-item">
                            <label>First Name:</label>
                            <InputText @bind-Value="user.FirstName" />
                            <label>Last Name:</label>
                            <InputText @bind-Value="user.LastName" />
                            <label>Email:</label>
                            <InputText @bind-Value="user.Email" />
                            <NavLink href="/account/resetpassword">Reset password for user</NavLink>
                            <div class="actions">
                                <button class="btn btn-update" type="submit">Update</button>
                                <button class="btn btn-delete" type="submit">Delete</button>
                            </div>
                        </div>
                    </EditForm>
                }
            }
            else
            {
                <p>No users found.</p>
            }
        </div>
    </div>
</div>






@code {
    private ApplicationUser[]? users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<ApplicationUser[]>("http://localhost:7142/api/GetUsers");
        
    }

   
}
