@page "/singlecourse"

<section class="single-course">

        <SingleCourseHeader />

    <div class="container">
        <div class="grid-container-course">
            <section class="section-description">
                <SingleCourseDescription /> 
            </section>
        
            <section class="aside">
                <SingleCourseAside />
            </section>

            <section class="program">
                <SingleCourseProgram />
            </section>



            <section class="bottom">
                <SingleCourseBottom />
            </section>
        </div>



    </div>


</section>

@code {

}
