.alert {
    background: $success;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    border-radius: 8px;
    /* margin: 40px 149px; */
  
    width: 60%;
    margin: 0 auto;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.error-message {
    background: #F5D7DA;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    border-radius: 8px;
    /* margin: 40px 149px; */

    width: 60%;
    margin: 0 auto;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.error {
    color: #df4747;
    border: 1px solid #df4747;
    background-color: #fff5f5;
}

span {
    padding: 10px;
    font-size: 0.9em;
    color: #df4747;
}
