<div class="description-content mb-5">
    <h2>Course Description</h2>
    <p class="p-description">
        Suspendisse natoque sagittis, consequat turpis.
        Sed tristique tellus morbi magna. At vel senectus
        accumsan, arcu mattis id tempor. Tellus sagittis,
        euismod porttitor sed tortor est id. Feugiat velit velit,
        tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare.
        Tempus mauris sed dictum ultrices.
    </p>
    <h3>What you'll learn</h3>
    <div class="description-list">
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item">Sed lectus donec amet eu turpis interdum.</p>
        </div>
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item">Nulla at consectetur vitae dignissim porttitor.</p>
        </div>
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item">Phasellus id vitae dui aliquet mi.</p>
        </div>
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item">Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
        </div>
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item">In aenean dolor diam tortor orci eu.</p>
        </div>

    </div>
</div>

@code {

}
