.account-notification {
  margin-top: 6rem;
  height: 100%;
}
.account-notification .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  gap: 3rem 5rem;
}
.account-notification .container .notification {
  max-width: 856px;
  grid-column: 5/span 8;
}
.account-notification .container .notification h1 {
  margin-bottom: 2rem;
}
.account-notification .container .notification .notification-form .email {
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.account-notification .container .notification .notification-form .email-input {
  max-width: 416px;
  margin-bottom: 1.5rem;
}
.account-notification .container .notification .notification-form .email-input:focus {
  box-shadow: none;
  border: 1px solid #6366F1;
}
.account-notification .container .notification .notification-form .email-input::placeholder {
  opacity: 0.4;
}
.account-notification .container .notification .notification-form .btn-switch {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: flex-start;
}
.account-notification .container .notification .notification-form .btn-switch .switch:checked + .slider {
  background-color: #22C55E !important;
}
.account-notification .container .notification .notification-form .btn-switch .button-label-box {
  display: flex;
  flex-direction: column;
}
.account-notification .container .notification .notification-form .btn-switch .button-label-box label {
  margin-bottom: 5px;
  font-weight: 700;
}
.account-notification .container .notification .notification-form .btn-switch .button-label-box p {
  color: #9397AD;
}
.account-notification .container .notification .buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.account-notification .container .notification .buttons .btn-theme-s {
  border: 1px solid #6366F1;
}
