

.content-left {
    grid-column: 1 / span 4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid #E2E5F1;
    padding: 0 1rem;

    .avatar {
        position: relative;

        img {
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        label, i {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: white;
            border: 1px #E2E5F1 solid;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: #33354D;
                color: #fff;
                border: 1px #33354D solid;
            }

            i {
                color: #33354D;
                margin: 0 auto;

                &:hover {
                    color: #F3F6FF;
                }
            }
        }
    }

    .account-info {
        padding-top: 1rem;
        padding-bottom: 2rem;

        h5 {
            margin: 0;
        }

        p {
            color: #565973;
        }
    }

    .links {
        display: flex;
        flex-direction: column;


        .link-btn {
            text-align: left;
            margin-bottom: .5rem;
            width: 100%;
            justify-content: flex-start;
        }

        .btn-transparent {
            background: transparent;
            color: #33354D;
            border: none;
            border-radius: 6px;
            text-align: left;
            font-size: 14px;
            padding: 8px 28px;
            display: flex;
            align-items: center;
            gap: .5rem;
            font-weight: 600;

            &:hover {
                text-decoration: none;
                background: #6366F1;
                color: #FFFFFF;
                box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
            }
        }
    }
}
