<div class="pagination">
    <a class="pag-item" href="/courses">&laquo;</a>
    <a class="pag-item" href="/courses">1</a>
    <a class="pag-item active" href="/courses">2</a>
    <a class="pag-item" href="/courses">3</a>
    <a class="pag-item" href="/courses">4</a>
    <a class="pag-item" href="/courses">&raquo;</a>
</div>