<div class="image-left">
    <img src="Images/image-bottom-singleCourse.jpg" />
</div>


<div class="content-right">
    <span>Learn from the best</span>
    <h2>Albert Flores</h2>
    <p>
        Dolor ipsum amet cursus quisque porta adipiscing.
        Lorem convallis malesuada sed maecenas.
        Ac dui at vitae mauris cursus in nullam porta sem.
        Quis pellentesque elementum ac bibendum.
        Nunc aliquam in tortor facilisis. Vulputate eget risus,
        metus phasellus. Pellentesque faucibus amet, eleifend
        diam quam condimentum convallis ultricies placerat.
        Duis habitasse placerat amet, odio pellentesque rhoncus,
        feugiat at. Eget pellentesque tristique felis magna fringilla.
    </p>

    <div class="subscribe-buttons">
        <button class="btn btn-danger"><i class="fa-brands fa-youtube"></i>240k subscribers</button>
        <button class="btn btn-danger"><i class="fa-brands fa-facebook"></i>180k followers</button>
    </div>
</div>


@code {
    [Parameter]
    public FullCourseModel? Course { get; set; }

}