<div class="program-details mb-5">
    <div class="content">
        <h2>Program Details</h2>

        <div class="item">
            <div class="number">
                <span class="list-number">1</span>
            </div>
            <div class="item-content">
                <h4>Introduction. Getting Started</h4>
                <p>
                    Nulla faucibus mauris pellentesque blandit faucibus non.
                    Sit ut et at suspendisse gravida hendrerit tempus placerat.
                </p>
            </div>
        </div>

        <div class="item">
            <div class="number">
                <span class="list-number">2</span>
            </div>
            <div class="item-content">
                <h4>Introduction. Getting Started</h4>
                <p>
                    Nulla faucibus mauris pellentesque blandit faucibus non.
                    Sit ut et at suspendisse gravida hendrerit tempus placerat.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="number">
                <span class="list-number">3</span>
            </div>
            <div class="item-content">
                <h4>Introduction. Getting Started</h4>
                <p>
                    Nulla faucibus mauris pellentesque blandit faucibus non.
                    Sit ut et at suspendisse gravida hendrerit tempus placerat.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="number">
                <span class="list-number">4</span>
            </div>
            <div class="item-content">
                <h4>Introduction. Getting Started</h4>
                <p>
                    Nulla faucibus mauris pellentesque blandit faucibus non.
                    Sit ut et at suspendisse gravida hendrerit tempus placerat.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="number">
                <span class="list-number">5</span>
            </div>
            <div class="item-content">
                <h4>Introduction. Getting Started</h4>
                <p>
                    Nulla faucibus mauris pellentesque blandit faucibus non.
                    Sit ut et at suspendisse gravida hendrerit tempus placerat.
                </p>
            </div>
        </div>
        <div class="item">
            <div class="number">
                <span class="list-number">6</span>
            </div>
            <div class="item-content">
                <h4>Introduction. Getting Started</h4>
                <p>
                    Nulla faucibus mauris pellentesque blandit faucibus non.
                    Sit ut et at suspendisse gravida hendrerit tempus placerat.
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public CourseData? Course { get; set; }

}
