<div class="description-content mb-5">
    <h2>Course Description</h2>
    <p class="p-description">
        @Course?.Content?.Description
    </p>
    <h3>What you'll learn</h3>
    <div class="description-list">
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item"></p>
        </div>
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item"></p>
        </div>
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item"></p>
        </div>
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item"></p>
        </div>
        <div class="d-item">
            <i class="fa-regular fa-badge-check"></i>
            <p class="p-item"></p>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public CourseData? Course { get; set; }

}